@import "_reseter";

.Wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100%;
  width: 100%;
  padding: 15px;
}

.content {
  flex: 1 1 auto;
  .main-title {
    padding: 20px 0px 0px 0px;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: #a5a4a4;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
